/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@keyframes risingGraph {
  from {
    height: 0;
    top: 20vh;
  }
  to {
    height: 20vh;
    top: 0;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  background: #2f323a;
  color: #f8f8f8;
}
h1,
h2,
h3,
h4 {
  font-size: 4rem;
  margin: 0;
}
p,
ul {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header .chart {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 20vh;
  animation: risingGraph 1s;
  background-image: linear-gradient(to right bottom, rgba(89, 51, 240, 0.4), rgba(159, 134, 255, 0.4));
  background-size: cover;
  background-position: top;
}
@media (max-width: 500px) {
  .header .chart {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .header .chart {
    width: 70%;
    left: 15%;
    height: 35vh;
  }
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header .chart-1 {
    -webkit-clip-path: polygon(36% 88%, 48% 66%, 58% 86%, 83% 57%, 100% 100%, 0 100%, 3% 50%);
    clip-path: polygon(36% 88%, 48% 66%, 58% 86%, 83% 57%, 100% 100%, 0 100%, 3% 50%);
  }
}
.header .chart-2 {
  background-image: linear-gradient(to right bottom, rgba(0, 122, 225, 0.4), rgba(28, 168, 221, 0.4));
  background-size: cover;
  background-position: top;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header .chart-2 {
    -webkit-clip-path: polygon(36% 88%, 54% 46%, 67% 81%, 87% 21%, 100% 100%, 0 100%, 21% 63%);
    clip-path: polygon(36% 88%, 54% 46%, 67% 81%, 87% 21%, 100% 100%, 0 100%, 21% 63%);
  }
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header .chart-3 {
    -webkit-clip-path: polygon(37% 81%, 55% 41%, 73% 82%, 86% 56%, 100% 100%, 0 100%, 22% 5%);
    clip-path: polygon(37% 81%, 55% 41%, 73% 82%, 86% 56%, 100% 100%, 0 100%, 22% 5%);
  }
}
.header .title {
  margin-top: 22vh;
}
@media (min-width: 500px) and (max-width: 800px) {
  .header .title {
    margin-top: 37vh;
  }
}
.main-content section {
  margin: 50px 0;
}
.main-content .features {
  display: flex;
}
@media (max-width: 500px) {
  .main-content .features {
    flex-wrap: wrap;
  }
}
.main-content .features .card {
  margin: 10px;
}
@media (max-width: 500px) {
  .main-content .features .card {
    width: 100%;
  }
}
.main-content .features .card-image {
  margin: 20px 0;
}
.main-content .features .card-title {
  font-size: 3rem;
}
.main-content .features .card-info {
  margin: 10px 0;
}
.main-content .description * {
  margin: 20px 0;
}
.main-content .description ul {
  list-style: disc;
  list-style-position: inside;
}
.main-content .description ul li {
  margin: 5px 0;
}
