/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@keyframes risingGraph {
  from {
    height: 0;
    top: 20vh;
  }
  to {
    height: 20vh;
    top: 0;
  }
}
@keyframes fontSizeGrow {
  from {
    font-size: 3.5rem;
  }
  to {
    font-size: 5rem;
  }
}
@keyframes risingGraphTablet {
  from {
    top: 35vh;
    height: 0;
  }
  to {
    height: 35vh;
    top: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-6px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(6px, 0, 0);
  }
}
@keyframes backgroundShift {
  10% {
    background-image: linear-gradient(to right bottom, #007ae1, #5933f0);
  }
  50% {
    background-image: linear-gradient(to right bottom, #5933f0, #007ae1);
  }
  80% {
    background-image: linear-gradient(to right bottom, #9f86ff, #007ae1);
  }
  100% {
    background-image: linear-gradient(to right bottom, #1ca8dd, #5933f0);
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  background: #2f323a;
  color: #f8f8f8;
}
h1,
h2,
h3,
h4 {
  font-size: 5rem;
  margin: 0;
}
p,
ul {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.main-content .call-to-action {
  width: 30%;
  margin: 0 auto;
  padding: 10px;
  background-image: linear-gradient(to right bottom, #007ae1, #5933f0);
  color: #f8f8f8;
  border: 1px solid #2f323a;
  border-radius: 5px;
  outline: none;
  font-size: 3rem;
  padding: 20px;
  animation: backgroundShift 750ms infinite;
}
.main-content .call-to-action:active {
  animation: shake 1s;
}
@media (max-width: 500px) {
  .main-content .call-to-action {
    width: 90%;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .main-content .call-to-action {
    width: 60%;
  }
}
.main-content .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.main-content .features .card {
  display: none;
  height: 100%;
  width: 50%;
  margin: 30px;
  padding: 10px;
  animation: fadeIn 3s;
}
@media (max-width: 500px) {
  .main-content .features .card {
    width: 75%;
    margin: 0;
  }
}
.main-content .features .card-icon {
  margin: 20px 0;
  font-size: 15rem;
}
.main-content .features .card-title {
  font-size: 3rem;
}
.main-content .features .card-info {
  margin: 10px 0;
  color: #9ca4b6;
}
.main-content .features .button {
  padding: 10px;
  background-image: linear-gradient(to right bottom, #007ae1, #5933f0);
  color: #f8f8f8;
  border: 1px solid #2f323a;
  border-radius: 5px;
  outline: none;
}
.main-content .features .button:active {
  animation: shake 1s;
}
.main-content .description {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 30px auto;
}
@media (max-width: 500px) {
  .main-content .description {
    width: 100%;
  }
}
.main-content .description .info {
  display: flex;
  margin: 30px 0;
}
@media (max-width: 500px) {
  .main-content .description .info {
    flex-wrap: wrap;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .main-content .description .info {
    flex-wrap: wrap;
  }
}
.main-content .description .info-reverse {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .main-content .description .info-reverse {
    flex-direction: row;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .main-content .description .info-reverse {
    flex-direction: row;
  }
}
.main-content .description .info-icon {
  margin: 0 auto;
}
.main-content .description .info-text {
  padding: 50px;
}
@media (max-width: 500px) {
  .main-content .description .info-text {
    padding: 10px;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .main-content .description .info-text {
    padding: 10px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  position: relative;
}
.header .chart {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 20vh;
  animation: risingGraph 1s;
  background-image: linear-gradient(to right bottom, rgba(89, 51, 240, 0.4), rgba(159, 134, 255, 0.4));
  background-size: cover;
  background-position: top;
}
@media (max-width: 500px) {
  .header .chart {
    width: 100%;
    left: 0;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .header .chart {
    width: 70%;
    left: 15%;
    height: 35vh;
    animation: risingGraphTablet 1s;
  }
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header .chart-1 {
    -webkit-clip-path: polygon(36% 88%, 48% 66%, 58% 86%, 83% 57%, 100% 100%, 0 100%, 3% 50%);
    clip-path: polygon(36% 88%, 48% 66%, 58% 86%, 83% 57%, 100% 100%, 0 100%, 3% 50%);
  }
}
.header .chart-2 {
  background-image: linear-gradient(to right bottom, rgba(0, 122, 225, 0.4), rgba(28, 168, 221, 0.4));
  background-size: cover;
  background-position: top;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header .chart-2 {
    -webkit-clip-path: polygon(36% 88%, 54% 46%, 67% 81%, 87% 21%, 100% 100%, 0 100%, 21% 63%);
    clip-path: polygon(36% 88%, 54% 46%, 67% 81%, 87% 21%, 100% 100%, 0 100%, 21% 63%);
  }
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header .chart-3 {
    -webkit-clip-path: polygon(37% 81%, 55% 41%, 73% 82%, 86% 56%, 100% 100%, 0 100%, 22% 5%);
    clip-path: polygon(37% 81%, 55% 41%, 73% 82%, 86% 56%, 100% 100%, 0 100%, 22% 5%);
  }
}
.header .title {
  background-image: linear-gradient(to top, #9ca4b6, #f8f8f8);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 22vh;
  margin-bottom: 30px;
  animation: fontSizeGrow 1.5s;
}
@media (min-width: 500px) and (max-width: 800px) {
  .header .title {
    margin-top: 37vh;
  }
}
.footer {
  margin: 40px 0;
}
.footer-copyright {
  margin: 40px;
}
.nav-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 3;
  padding: 10px;
  background-image: linear-gradient(to right bottom, #007ae1, #5933f0);
  color: #f8f8f8;
  border: 1px solid #2f323a;
  border-radius: 5px;
  outline: none;
  font-size: 2rem;
  transform: rotate(90deg);
}
.nav-button:active {
  animation: shake 1s;
}
.nav-menu {
  position: fixed;
  top: 80px;
  left: 20px;
  display: none;
  flex-direction: column;
  z-index: 3;
  width: 20%;
  background: #f8f8f8;
  border-radius: 3px;
  animation: fadeIn 2s;
}
@media (max-width: 500px) {
  .nav-menu {
    width: 50%;
  }
}
@media (min-width: 500px) and (max-width: 800px) {
  .nav-menu {
    width: 30%;
  }
}
.nav-menu-active {
  display: flex;
}
.nav-menu-item {
  padding: 10px 0;
  font-size: 1.8rem;
  color: #2f323a;
  text-decoration: none;
  border-bottom: 1px solid #9ca4b6;
}
.nav-menu-item:last-of-type {
  border-bottom: none;
}
