.main-content {
    section {
        margin: 50px 0;
    }

    .features {
        display: flex;

        @media @mobile {
            flex-wrap: wrap;
        }

        .card {
            margin: 10px;

            @media @mobile {
                width: 100%;
            }

            &-image {
                margin: 20px 0;
            }

            &-title {
                font-size: 3rem;
            }

            &-info {
                margin: 10px 0;
            }
        }
    }

    .description {
        * {
            margin: 20px 0;
        }

        ul {
            list-style: disc;
            list-style-position: inside;

            li {
                margin: 5px 0;
            }
        }
    }
}