.main-content {
    section {
        margin: 20px 0;
    }

    .features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .card {
            display: none;

            width: 50%;
            margin: 10px;
            padding: 10px;

            @media @mobile {
                width: 75%;
                margin: 0;
            }

            animation: fadeIn 3s;

            &-image {
                margin: 20px 0;
            }

            &-title {
                font-size: 3rem;
            }

            &-info {
                margin: 10px 0;
                color: @gray;
            }
        }

        .button {
            padding: 10px;
            max-height: 50px;

            background-image: linear-gradient(to right bottom,
                rgba(@darkblue, 1),
                rgba(@darkpurple, 1));
            color: @white;

            border: 1px solid @black;
            border-radius: 3px;
            outline: none;

            &:active {
                animation: shake 1s;
            }
        }
    }

    .description {
        * {
            margin: 20px 0;
        }

        ul {
            list-style: disc;
            list-style-position: inside;

            li {
                margin: 5px 0;
            }
        }
    }
}