@mobile: (max-width: 500px);
@tablet: (min-width: 500px) and (max-width: 800px);
@maxwidth: 1000px;
@maxwidthmobile: 500px;

@darkpurple: #5933f0;
@lightpurple: #9f86ff;
@darkblue: #007ae1;
@lightblue: #1ca8dd;
@gray: #9ca4b6;
@white: #f8f8f8;
@black: #2f323a;


@keyframes risingGraph {
    from {
        height: 0;
        top: 20vh;
    }

    to {
        height: 20vh;
        top: 0;
    }
}

@keyframes risingGraphTablet {
    from {
        top: 35vh;
        height: 0;
    }

    to {
        height: 35vh;
        top: 0;
    }
}