.call-to-action {
    width: 30%;
    margin: 30px auto;

    .fancy-button();
    font-size: 3rem;
    padding: 20px;

    animation: backgroundShift 750ms 1.5s;

    @media @mobile {
        width: 90%;
    }

    @media @tablet {
        width: 60%;
    }
}