.footer {
  margin: 40px 0;

  .footer-info {
    padding: 40px;
    font-size: 2rem;

    .social-icon {
      color: @white;
      font-size: 5rem;
      margin: 20px 5px;
    }

  }

  &-copyright {
    margin: 20px;
  }
}
