.footer {
  
  .footer-info {
    margin: 20px;
    padding: 30px;
    font-size: 2rem;
    border-top: 1px dashed @white;
    border-bottom: 1px dashed @white;

    @media @large {
      margin: 0 auto;
      width: 60%;
    }

    .social-icon {
      color: @white;
      font-size: 5rem;
      margin-top: 20px;
    }

  }

  &-copyright {
    margin-top: 10px;
    font-size: 1.5rem;
  }

  &-attribution {
    margin: 10px 0;
    font-size: 1.2rem;
    a {
      color: @white;
    }
  }
}